<div id="content">
	<div class="block-container">
		<div class="block-header block-header-split">
			<div class="block-header-avatar">
				<img width="40" height="40" src="{{exp.sponsor.avatar}}">
			</div>
			<div class="block-header-main">
				<h2 class="block-header-title">{{exp.sponsor.displayName}}提交了报销审批</h2>
				<span class="block-header-label label-red">{{exp.state}}</span>
			</div>
		</div>
		<div class="block-content">
			<ul class="block-list">
				<li class="block-item">
					<label class="list-label">类型：</label><div class="list-info">{{exp.exptype}}</div>
				</li>
				<li class="block-item">
					<label class="list-label">金额：</label><div class="list-info">{{exp.amount}}</div>
				</li>
				<li class="block-item">
					<label class="list-label">事由：</label><div class="list-info">{{exp.reason}}</div>
				</li>
			</ul>
		</div>
	</div>

	{{#each exp.items}}
		{{> expItem}}
	{{/each}}
	
	{{!
	<div class="block-container">
		<div class="block-header">
			<div class="block-header-main">
				<h2 class="block-header-title">报销明细</h2>
			</div>
		</div>
		<div class="block-content">
			<ul class="block-list">
				<li class="block-item">
					<label class="list-label">费用类型：</label><div class="list-info">机票</div>
				</li>
				<li class="block-item">
					<label class="list-label">发生时间：</label><div class="list-info">2017-07-10</div>
				</li>
				<li class="block-item">
					<label class="list-label">费用金额：</label><div class="list-info">¥500.00</div>
				</li>
				<li class="block-item">
					<label class="list-label">费用说明：</label><div class="list-info">北京出差</div>
				</li>
				<li class="block-item">
					<label class="list-label">票据图片：</label>
					<div class="list-info">
						<ul class="list-image" data-preview-index="1" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><li class="item-image"><img src="https://chat.finogeeks.club/_matrix/media/v1/thumbnail/finogeeks.club/thumbnail-JzsBeADbdCIawtWEtxzZWJLt?width=320&amp;height=320" alt=""></li></ul>
					</div>
				</li>

			</ul>
		</div>
	</div>

	}}

	<div class="block-container">
		<div class="block-header">
			<div class="block-header-main">
				<h2 class="block-header-title">收款人信息</h2>
			</div>
		</div>
		<div class="block-content">
			<ul class="block-list">
				<li class="block-item">
					<label class="list-label">收款单位/人：</label><div id="receiver" class="list-info">{{exp.payee.receiver}}</div>
				</li>
				<li class="block-item">
					<label class="list-label">收款银行：</label><div id="bankName" class="list-info">{{exp.payee.bankName}}</div>
				</li>
				<li class="block-item">
					<label class="list-label">收款账号：</label><div id="bankAccount" class="list-info">{{exp.payee.bankAccount}}</div>
				</li>
				<li class="block-item">
					<label class="list-label">是否为增值税专用发票：</label><div id="isVAT" class="list-info">{{exp.payee.isVAT}}</div>
				</li>
				<li class="block-item">
					<label class="list-label">纳税识别号：</label><div id="taxpayerId" class="list-info">{{exp.payee.taxpayerId}}</div>
				</li>

			</ul>
		</div>	
	</div>

	<div class="block-container">
		<div class="block-header">
			<div class="block-header-main">
				<h2 class="block-header-title">审批流程</h2>
			</div>
		</div>
		<div class="block-content">
			<div class="process-container">
				{{#each exp.approvers}}
					{{> approve_process}}
				{{/each}}
				{{!
				<div class="process-item">
					<div class="process-header">
						<em class="process-state-box"><span class="process-state process-agree"></span></em>
						<img width="24" height="24" src="https://chat.finogeeks.club/_matrix/media/v1/thumbnail/finogeeks.club/lKXRUYUtZyOJxoqhHgjMxqpy?width=320&amp;height=320">
						<span>caimaoqi</span> · <span>已同意</span>
					</div>
					<div class="process-content"> 
						<div class="process-comment">
							打飞机啊搜附近违反老玩家福利打飞机案例三等奖佛按实际法拉盛剪短发拉设计费
						</div>
						<div class="process-attachment" data-preview-index="2" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
							<div class="process-attach"><img src="http://imgsrc.baidu.com/imgad/pic/item/thumbnail-267f9e2f07082838b5168c32b299a9014c08f1f9.jpg" alt=""></div><div class="process-attach"><img src="http://imgsrc.baidu.com/image/c0%3Dshijue1%2C0%2C0%2C294%2C40/sign=60aeee5da74bd11310c0bf7132c6ce7a/thumbnail-72f082025aafa40fe3c0c4f3a164034f78f0199d.jpg" alt=""></div>
						</div>
					</div>
				</div>
				}}
			</div>
		</div>	
		<div class="block-footer">
			<span>审批完成</span>
		</div>
	</div>
</div>
