<form id="expense_form">
  <div class="list-block">
      <ul>
          <li class="sup_picker">
              <div class="item-content item-link">
                <div class="item-inner">
                  <div class="item-title label">报销类型</div>
                  <div class="item-input">
                    <input type="text" id="sup_picker" class="" name="payType" value="{{lastSubmit.payType}}" style="text-align:right;" placeholder="请选择(必选)" data-validation="required" data-validation-message="报销类型必选"/>
                  </div>
                </div>
              </div>
          </li>
          <li class="align-top">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <textarea name="payReason" maxlength="300" placeholder="请输入报销事由" data-validation="required" data-validation-message="报销事由不能为空">{{lastSubmit.payReason}}</textarea>
                </div>
              </div>
            </div>
        </li>
      </ul>
  </div>

  <div class="list-block" id="detailList">
   {{#if lastSubmit.payItems}}
      {{#each lastSubmit.payItems}}
        {{> expense_detail}}
      {{/each}}
   {{else}}
      {{> expense_detail}}
   {{/if}}
    <div class="ud-button-block" id="add-button"><a href="#" class="button">+ 继续添加明细</a></div>
  </div>

  <div class="list-block">
      <ul>
          <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">收款单位\人</div>
                  <div class="item-input">
                    <input type="text" placeholder="请填写收款单位或个人" name="payee" value="{{lastSubmit.payee}}" data-validation="required" data-validation-message="收款单位\人不能为空"/>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">收款银行</div>
                  <div class="item-input">
                    <input type="text" placeholder="如:中国银行-上海陆家嘴软件园支行" name="payeeBank" value="{{lastSubmit.payeeBank}}" data-validation="required" data-validation-message="收款单位\人不能为空"/>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">收款账号</div>
                  <div class="item-input">
                    <input type="text" placeholder="请填收款账号" name="payeeAccount" value="{{lastSubmit.payeeAccount}}" data-validation="required,integer" data-validation-message='{"required":"费用金额不能为空","integer":"银行收款账号错误"}'/>
                  </div>
                </div>
              </div>
          </li>
          <li>
              <label class="label-checkbox item-content">
                <div class="item-inner">
                  <div class="item-title">保存为默认收款人</div>
                   <input type="checkbox" name="saveAsDefault" {{#if lastSubmit.saveAsDefault}}checked{{/if}} ／>
                   <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                </div>
              </label>
          </li>
      </ul>
  </div>

  <div class="list-block">
    <ul>
      <li>
        <label class="label-checkbox item-content">
          <div class="item-inner">
            <div class="item-title">是否为增值税专用发票</div>
             <input type="checkbox" name="isVAT" {{#if lastSubmit.isVAT}}checked{{/if}} ／>
             <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
          </div>
        </label>
      </li>
      <li>
        <label class="label-checkbox item-content" id="hasTaxpayerNo-checkbox">
          <div class="item-inner">
            <div class="item-title">是否有纳税人识别号</div>
            <input type="checkbox" id="hasTaxpayerNo" name="hasTaxpayerNo" {{#if lastSubmit.hasTaxpayerNo}}checked{{/if}} ／>
            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
          </div>
        </label>
      </li>
      <li id="taxpayerNo-input" {{#unless lastSubmit.hasTaxpayerNo}}style="display:none"{{/unless}}>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">纳税人识别号</div>
                  <div class="item-input">
                    <input type="text" placeholder="请填写纳税人识别号" name="taxpayerNo" value="{{lastSubmit.taxpayerNo}}" data-validation="condRequired[hasTaxpayerNo]" data-validation-message="纳税人识别号不能为空"／>
                  </div>
                </div>
              </div>
          </li>
    </ul>
  </div> 
  <div class="list-block">
      <ul>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">审批人：（管理员设定）</div>
            <div class="item-after"></div>
          </div>
        </li>
        <div class="approve-content content-padded">
          <div class="approve-item">
            <div class="approve-img-content">
              <img class="approve-img" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1504090478566&di=bde55eaf08b6aed9823e9d7a946fefe1&imgtype=0&src=http%3A%2F%2Fk2.jsqq.net%2Fuploads%2Fallimg%2F1702%2F10_170208140118_3.jpg">
            </div>
            <div class="approve-text-content"><span class="approve-text">高育良</span></div>
          </div>
          <div class="approve-item">
            <div class="approve-img-content">
              <img class="approve-img" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1504090478566&di=bde55eaf08b6aed9823e9d7a946fefe1&imgtype=0&src=http%3A%2F%2Fk2.jsqq.net%2Fuploads%2Fallimg%2F1702%2F10_170208140118_3.jpg">
            </div>
            <div class="approve-text-content"><span class="approve-text">高育良</span></div>
          </div>
          <div class="approve-item">
            <div class="approve-img-content">
              <img class="approve-img" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1504090478566&di=bde55eaf08b6aed9823e9d7a946fefe1&imgtype=0&src=http%3A%2F%2Fk2.jsqq.net%2Fuploads%2Fallimg%2F1702%2F10_170208140118_3.jpg">
            </div>
            <div class="approve-text-content"><span class="approve-text">高育良</span></div>
          </div>
        </div>
      </ul>
  </div>
</form> 
<div id="templates" style="display:none">
{{> expense_upload_item}}  
</div>
