
<div class="list-block">
{{#if form_hint}} 
<div class="content-block-title">{{form_hint}}</div>
{{/if}}
    <ul>
        <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">收款单位/人</div>
                <div class="item-input">
                  <input type="text" placeholder="请填写收款单位或个人" name="payee" value="{{lastSubmit.payee}}"/>
                </div>
              </div>
            </div>
        </li>
        <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">收款银行</div>
                <div class="item-input">
                  <input type="text" placeholder="如:中国银行-上海陆家嘴软件园支行" name="payeeBank" value="{{lastSubmit.payeeBank}}"/>
                </div>
              </div>
            </div>
        </li>
        <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">收款账号</div>
                <div class="item-input">
                  <input type="text" placeholder="请填收款账号" name="payeeAccount" value="{{lastSubmit.payeeAccount}}"/>
                </div>
              </div>
            </div>
        </li>
        <li class="item-content row">
            <div class="col-80" >保存为默认收款人</div>
            <div class="col-20">
              <label class="label-checkbox">
                  <input type="checkbox" name="saveAsDefault" {{#if lastSubmit.saveAsDefault}}checked{{/if}} ／>
                  <span class="item-media"><i class="icon icon-form-checkbox"></i></span>
              </label>
            </div>
        </li>
        <li class="item-content row">
            <div class="col-80" >是否为增值税专用发票</div>
            <div class="col-20">
              <label class="label-checkbox">
                  <input type="checkbox" name="isVAT" {{#if lastSubmit.isVAT}}checked{{/if}} ／>
                  <span class="item-media"><i class="icon icon-form-checkbox"></i></span>
              </label>
            </div>
        </li>
        <li class="item-content row">
            <div class="col-80" >是否有纳税人识别号</div>
            <div class="col-20">
              <label class="label-checkbox" id="hasTaxpayerNo-checkbox">
                  <input type="checkbox" name="hasTaxpayerNo" {{#if lastSubmit.hasTaxpayerNo}}checked{{/if}} ／>
                  <span class="item-media"><i class="icon icon-form-checkbox"></i></span>
              </label>
            </div>
        </li>
</ul>
</div>
<div class="list-block" id="taxpayerNo-input" {{#unless lastSubmit.hasTaxpayerNo}}style="display:none"{{/unless}}>  
    <div class="content-block-title">纳税人识别号</div>
    <ul>
        <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input type="text" placeholder="" name="taxpayerNo" value="{{lastSubmit.taxpayerNo}}"／>
                </div>
              </div>
            </div>
      </li>
    </ul>
</div>