
<div class="list-block">
{{#if form_hint}} 
<div class="content-block-title">{{form_hint}}</div>
{{/if}}
    <ul>
        <li>
            <div class="item-content item-link" data-action="data-picker">
              <div class="item-inner">
                <div class="item-title label">费用类型</div>
                <div class="item-input">
                  <input type="text" class="data-picker" placeholder="请选择(必选)" name="costType" value="{{lastSubmit.costType}}" style="text-align:right"/>
                </div>
              </div>
            </div>
        </li>
        <li>
            <div class="item-content item-link">
              <div class="item-inner">
                <div class="item-title label">发生时间</div>
                <div class="item-input">
                  <input type="text" class="date-picker" placeholder="请选择(必选)" name="beginDate" value="{{lastSubmit.beginDate}}" style="text-align:right"/>
                </div>
              </div>
            </div>
        </li>
        <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">费用金额</div>
                <div class="item-input">
                  <input type="text" placeholder="输入金额，最多两位小数" name="payAmount" value="{{lastSubmit.payAmount}}"/>
                </div>
              </div>
            </div>
        </li>
        <li class="align-top">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <textarea name="payDescription" maxlength="300" placeholder="请输入费用说明">{{lastSubmit.payDescription}}</textarea>
              </div>
            </div>
          </div>
        </li>
    </ul>
</div>
<div class="list-block">  
    <ul>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-title">图片</div>
          <div class="item-after"><span class="icon icon-picture"></span></div>
        </div>
      </li>
      <div class="upload-content">
          <div class="upload-item">
            item1
          </div>
          <div class="upload-item">
            item2
          </div>
        </div>
    </ul>
</div>

