<div class="approve-item">
	<div class="approve-avatar">
		<div class="approve-img-content">
	  		<img class="approve-img" src="{{#if this}}{{this.avatar}}{{else}}{{''}}{{/if}}">
	  		<div class="approve-delete">
	  			<span class="icon icon-remove"></span>
	  		</div>
	  		<div class="approve-text-content"><span class="approve-text">{{#if this}}{{this.displayName}}{{else}}{{''}}{{/if}}</span></div>
		</div>
	</div>
	<div class="approve-process">
		<div class="approve-process-item">
			<span class="process-icon icon icon-right"></span>
		</div>
	</div>
</div>