<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="https://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="https://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

  </head>
  <body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left" href="#" id="page-back">
                  <span class="icon icon-left"></span>
                  返回
                </a>
                <h1 class="title">{{title}}</h1>
                <a class="button button-link button-nav pull-right" href="#" id="page-submit">
                  完成
                </a>
            </header>
            <div class="content">
                {{{body}}}
            </div>
        </div>
    </div>

    <script type='text/javascript' src='https://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='https://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    {{{body_script}}}
    <script>
    $(document).on("pageInit", function(e, pageId, $page) {
        var gJsBridge;
        if($.device.ios) {
            /*这段代码是固定的，必须要放到js中*/
            var setupWebViewJavascriptBridge = function setupWebViewJavascriptBridge(callback) {
                if (window.WebViewJavascriptBridge) {
                    return callback(WebViewJavascriptBridge);
                }
                if (window.WVJBCallbacks) {
                    return window.WVJBCallbacks.push(callback);
                }
                window.WVJBCallbacks = [callback];
                var WVJBIframe = document.createElement('iframe');
                WVJBIframe.style.display = 'none';
                WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
                document.documentElement.appendChild(WVJBIframe);
                setTimeout(function () {
                    document.documentElement.removeChild(WVJBIframe);
                }, 0);
            };
            /*与OC交互的所有JS方法都要放在此处注册，才能调用通过JS调用OC或者让OC调用这里的JS*/
            setupWebViewJavascriptBridge(function (bridge) {
                /* Initialize your app here */
                /*我们在这注册一个js调用OC的方法，不带参数，且不用ObjC端反馈结果给JS：打开本demo对应的博文*/
                // bridge.registerHandler('openWebviewBridgeArticle', function() {
                //      log("openWebviewBridgeArticle was called with by ObjC")
                // })
                /*JS给ObjC提供公开的API，在ObjC端可以手动调用JS的这个API。接收ObjC传过来的参数，且可以回调ObjC*/
                // bridge.registerHandler('getUserInfos', function(data, responseCallback) {
                //      log("Get user information from ObjC: ", data)
                //      responseCallback({'userId': '123456', 'blog': '标哥的技术博客'})
                // })
                /*JS给ObjC提供公开的API，ObjC端通过注册，就可以在JS端调用此API时，得到回调。ObjC端可以在处理完成后，反馈给JS，这样写就是在载入页面完成时就先调用*/
                gJsBridge = bridge;
            });
        } else if($.device.android) {
            function connectWebViewJavascriptBridge(callback) {
                if (window.WebViewJavascriptBridge) {
                    callback(WebViewJavascriptBridge)
                } else {
                    document.addEventListener(
                        'WebViewJavascriptBridgeReady'
                        , function () {
                            callback(WebViewJavascriptBridge)
                        },
                        false
                    );
                }
            }
            connectWebViewJavascriptBridge(function (bridge) {
                bridge.init(function (message, responseCallback) {
                    var data = {};
                    responseCallback(data);
                });
                gJsBridge = bridge;
            })
        }

        function backToNative(){
            if(gJsBridge){
                gJsBridge.callHandler('appPageBack', {}, function(response){
                    // toast(response);
                }.bind(this));
            }
            else{
                $.alert('返回原生代码');
            }
        }

        console.log($.device);
        $("#page-back").click(function(){
                backToNative();
        });
        $("#page-submit").on('click',function(){
            if(!window.pageSubmit) return alert("模版JS中没有实现pageSubmit方法！");
            var data = pageSubmit();
            // gJsBridge.callHandler('appFormSubmit', { 'value': JSON.stringify(jsonResult) }, function(response){
        
            // }.bind(this));

            {{#if uid}}
                $.ajax({
                    url:'./submit',
                    //method: "POST",
                    type:'POST',
                    contentType:'application/json',
                    dataType:'json',
                    data: JSON.stringify(Object.assign({
                        uid:"{{uid}}",
                        tpl:"{{tpl}}",
                        token:"{{submitToken}}"
                    },{payload:data})),
                    error:function(xhr,status,err){
                        console.log(status,err);
                    },
                    success:function(resp){
                        console.log(resp);
                        alert(JSON.stringify(data,null,4));
                    }
                });
            {{/if}}
        });
    });
    $.init();
    </script>
  </body>
</html>